{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container-fluid">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th colspan="2">
                        Contact
                    </th>

                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Name: </td>
                        <td>
                            {{ contact.firstName }} {{ contact.lastName }}
                        </td>
                        </tr>

                    </tr>
                    <tr>
                        <td>Organisation: </td>
                        <td>
                            {{ contact.organisation }}
                        </td>
                    </tr>

                    </tr>

                </tbody>
            </table>

    </div>
    </div>
{% endblock %}