{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container" class="container-fluid">
            <h1>Business Contacts</h1>
            <a class="btn btn-default" href="contacts" role="button">Contacts</a>
            <a class="btn btn-default" href="organisations" role="button">Organisations</a>
        </div>
    </div>
{% endblock %}